main h1, h2 {
  text-align: center;
}


.leftcolumn {
  display: inline-block;
 margin-right: 30px;
  margin-left: 30px;
  width: 40%;
  float: left;

}

.rightcolumn {
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  float: right;
  width: 40%;
}
