main {
  text-align: center;
}

main section p {
  column-count: 2
  column-gap: 20px;
  column-rule-width: 1px;
  column-rule-style: solid;
  column-rule-color: #000;

}

.leftcolumn {
  display: inline-block;
  width: 40%;
  float: left;

}

.rightcolumn {
  display: inline-block;
  float: right;
  width: 40%;
}
