#wrapper {
/*background-color: #FFFFFC;*/
padding: 20px auto;
font-size: large;
font-family: Architect;
background-image: url("../futurist-android-faded.png");
background-repeat: no-repeat;
background-size: 100% auto;
background-attachment: fixed;
/*background-position: 0px -50px*/
}


/*
#header, #mainbody, #footer, #leftmainbody, #rightmainbody {
 border: 3px solid #E6E6CA;
 border-radius: 20px;
 margin: 20px auto;
}*/



#header {
  float: center;
  text-align: center;
  width: 100%;
}

#navigator {
color: #FFFFFF;
}

  #navigator ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

#navigator li {
    float: left;
    margin-top: 10px;
}

#navigator a:link, a:visited {
    display: block;
    width: 180px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigator a:hover, a:active {
    background-color: black;
    border-radius: 5px;
}

#mainbody{
clear: both;
padding: 20px;
width: 96%;
height: 400px;

}

#leftmainbody {
  float: left;
width: 200px;
margin: 10px auto;
display: inline-block;
height: 300px;
border: 3px;
color: #FFFFFF;
/*border-left: 1px solid #FFFFFF;
border-right: 1px solid #FFFFFF;*/
padding: 20px;
}

#leftmainbody ul{
  list-style-type: none;
  color: black;
  padding: 3px;
  margin-left: 15px;
  font-weight: bolder;
  text-transform: capitalize;
}

#leftmainbody ul li{
font-weight: normal;
text-transform: capitalize;
font-size: smaller;

}


#rightmainbody {
  float: right;
  margin-right: 60px;
  margin-top: 70px;
  width: 700px;
  text-align: justify;
  display: inline-block;
  height: 300px;


}

#rightmainbody img{
  border-radius: 2px;
  border: none;
  margin: 20px;
  width: 60%;
}

#footer {
  font-size: small;
  clear: both;
  width: 100%;
}

#social {
/*  text-align: right;*/
  margin: 50px;
  display: inline-block;
  margin-left: 700px;
}

.examplz {
  font-weight: bold;
  font-size: large;
  color: #00398E;
  background-color:#D3E2FF;
  margin: 10px 40px 10px 40px;
  padding: 5px;
}

#leftmainbody img {

  width: 500px;
  border: 20px;
 position: relative;
   margin-left: auto;
   margin-right: auto;
}