#wrapper {
/*background-color: #FFFFFC;*/
padding: 20px auto;
color:  #7C5300;
font-family: Baskerville;
font-size: large;
background-image: url("../beachbg2.png");
background-repeat: no-repeat;
background-size: 100% auto;
background-position: 0px -50px
}


#header, #mainbody, #footer, #leftmainbody, #rightmainbody {
/* border: 3px solid #E6E6CA;
 border-radius: 20px;*/
 margin: 20px auto;
 /* background-image: url ("../beachbg2.png"); */
}



#header {
  float: center;
  text-align: center;
  width: 100%;
}

#header, table {
  width: 100%;
}

tr:first-child td {
  border: 2px solid #7C5300;
  border-radius: 5px;
  background-color:   #FFFFE6;
}

tr:first-child td:first-child {
  border: none;
  width: 250px;
  background-color: #FFFFF6;
}

img {
  width: 200px;
  border-radius: 100px;
  border: 2px solid #E6E6CA;
}

#mainbody{
clear: both;
padding: 20px;
width: 96%;
height: 400px;
}

#leftmainbody {
  float: left;
  width: 200px;
border: none;
margin: 10px auto;
display: inline-block;
height: 300px;

}

#rightmainbody {
  float: right;
  margin: 10px auto;
  width: 800px;
  text-align: center;
  display: inline-block;
  height: 300px;
  border: none;
}

#footer {
  font-size: small;
  clear: both;
  width: 100%;
}

.examplz {
  font-weight: bold;
  font-size: large;
  color: #00398E;
  background-color:#D3E2FF;
  text-align: center;
}