#wrapper {
/*background-color: #FFFFFC;*/
padding: 20px auto;
font-size: large;
font-family: Architect;
background-image: url("../futurist-android.png");
background-repeat: no-repeat;
background-size: 100% auto;
background-position: 0px -50px;
background-attachment: fixed;
}


#header, #mainbody, #footer, #leftmainbody, #rightmainbody {
/* border: 3px solid #E6E6CA;
 border-radius: 20px;*/
 margin: 20px auto;
}



#header {
  float: center;
  text-align: center;
  width: 100%;
}

#navigator {
color: #FFFFFF;
}

  #navigator ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

#navigator li {
    float: left;
    margin-top: 10px;
}

#navigator a:link, a:visited {
    display: block;
    width: 180px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigator a:hover, a:active {
    background-color: black;
    border-radius: 5px;
}



/*img {
  width: 200px;
  border-radius: 100px;
  border: 2px solid #E6E6CA;
}*/

#mainbody{
clear: both;
padding: 20px;
width: 96%;
height: 400px;
}

#name {
  float: right;
  margin-top: 260px;
  font-size: x-large;
  color: #FFFFFF;
 /* text-transform: uppercase;*/
 font-weight: normal;
 margin-right: 70px;

}

#footer {
  font-size: small;
  clear: both;
  width: 100%;
}

#social {
/*  text-align: right;*/
  margin: 50px;
  display: inline-block;
  margin-left: 700px;
}

.examplz {
  font-weight: bold;
  font-size: large;
  color: #00398E;
  background-color:#D3E2FF;
  text-align: center;
}