#wrapper {
/*background-color: #FFFFFC;*/
padding: 20px auto;
font-size: large;
font-family: Architect;
background-image: url("../futurist-android-faded.png");
background-repeat: no-repeat;
background-size: 100% auto;
background-position: 0px -50px;
background-attachment: fixed;
border-radius: 5px;
}


#header, #mainbody, #footer, #leftmainbody, #rightmainbody {
/* border: 3px solid #E6E6CA;
 border-radius: 20px;*/
 margin: 20px auto;
}



#header {
  float: center;
  text-align: center;
  width: 100%;
}

#navigator {
color: #FFFFFF;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

  #navigator ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left:60px;
    margin-right: 60px;
}

#navigator li {
    float: left;
    margin-top: 20px;
    text-align: center;
    width:20%;
    font-size: x-large;
}

#navigator a:link, a:visited {
    display: block;
    width: 180px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigator a:hover, a:active {
    color: black;
    font-style: bolder;
}

#name {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: medium;
}

#mainbody{
clear: both;
padding: 20px;
width: 96%;
height: 400px;
}

.reach {
  margin-left: 300px;
  font-style: bold;
  margin-top: 100px;
  color: #FFFFFF;
  font-family: Architect;
  font-size: 20px;
}

#mewrap {
  /*margin: 80px 150px 70px 170px;*/
  margin-top: 80px;
  margin-left: 170px;
  /*width: 700px;*/
  color: #FFFFFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#mewrap img{
  border-radius: 5px;
  height: 300px;
  float: left;
  border: 2px solid black;

}

#me {
  float: left;
  margin-top: 50px;
  margin-left: 140px;
/*  margin-left: 450px;*/
  width: 383px;
  color: black;
  font-family: Architect;
  font-size: 20px;
}



#footer {
  font-size: small;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

#footer img{
  height: 30px;
}

#social {
/*  text-align: right;*/
  margin: 50px;
  display: inline-block;
  margin-left: 800px;
  height: 10px;
  width: auto;
}

.examplz {
  font-weight: bold;
  font-size: large;
  color: #00398E;
  background-color:#D3E2FF;
  text-align: center;
}